@header-height-lg: 256px;
@header-height-md: 128px;

.small-card{
	max-width:500px;
	margin-left: auto;
	margin-right: auto;

	.card-body{
		padding:30px 30px 15px 30px;
	}
}

.card .card-footer.full-buttons {
	padding:0;
	button, button:first-child{
		width:100%;
		left:0;
		bottom:0;
		padding: 15px 30px;
	}
}