<div ng-controller="LoginCtrl">
	<div class="header-panel"></div>
	<div class="break-edge">
		<div class="card small-card floating-title">
			<h1>AppTitle</h1>
			<div class="card-body">
				<div class="form-group">
					<div class="form-control-wrapper">
						<input type="text" class="form-control empty">
						<div class="floating-label">username</div>
						<span class="material-input"></span>
					</div>
					<br>
					<div class="form-control-wrapper">
						<input type="password" class="form-control empty">
						<div class="floating-label">password</div>
						<span class="material-input"></span>
					</div>
				</div>
			</div>
			<div class="card-footer full-buttons">
				<button type="submit" class="btn btn-success btn-flat">
					Login
					<i class="fa fa-chevron-right"></i>
				</button>
			</div>
		</div>
	</div>
</div>
